[Unit]
Description=Synchronizes the legacy gtk-theme preference with the new color scheme preference

[Service]
ExecStart=@@HOME_DIR@@/.local/bin/color-scheme-sync
Restart=always
RestartSec=10
Slice=background.slice
After=graphical-session.target

[Install]
WantedBy=graphical-session.target
